<div class="footer-container">
  <div *ngIf="screenWidth >= 303" class="content">
    <img alt="logo" src="assets/images/logo.png">
  </div>
  <div class="content" style="align-items: flex-start">
    <p class="heading" style="color: #E3783B">Contact</p>
    <p class="big-text">Pagina de <a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
    <p class="big-text">Email: <a href="mailto: tennis@mail.com">tennis@mail.com</a></p>
    <p class="big-text">Tel: <a href="tel:0777-777-777">0777-777-777</a></p>
  </div>
</div>
<app-button [disabled]="false" [label]="'wdwadadawd'"></app-button>
