<div class="menu-container" [ngClass]="{'bottom-menu': screenWidth <= 600}">
  <div *ngIf="screenWidth > 600" class="logo-container">
    <img src="assets/images/logo.png" alt="logo" (click)="navigate()">
  </div>
  <div class="menu-items-container">
    <div class="menu-item"
         *ngFor="let menuItem of menuItems"
         (click)="navigate(menuItem)"
         [class.selected]="menuItem === selectedItem"
    >
      <p class="large-text" *ngIf="screenWidth > 600">{{menuItem.name}}</p>
      <mat-icon *ngIf="screenWidth <= 600">{{menuItem.icon}}</mat-icon>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
