@import "src/styles";

.menu-container {
  height: 70px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $tennis-grey;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    height: 70%;
    &:hover {
      transform: scale(1.10);
    }
  }
  margin-left: 50px;
}

.menu-items-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.menu-item {
  color: $tennis-green;
  margin: 0 13px;
  cursor: pointer;
  &:hover {
    color: $tennis-orange;
    transform: scale(1.20);
  }
}

.menu-item.selected {
  color: $tennis-orange;
  transform: scale(1.20);
}

p {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .menu-container {
    height: 50px;
  }
}
