/* You can add global styles to this file, and also import other style files */

$tennis-green: #A7CC1C;
$tennis-orange: #E3783B;
$tennis-grey: #F5F5F5;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Teko';
  src: local('Teko'), url("./assets/fonts/teko/Teko-Regular.ttf") format("truetype");
}

p {
  font-family: 'Teko', Arial, Helvetica, sans-serif;
}

.heading {
  font-size: 38px;
  @media screen and (max-width: 1200px) {
    font-size: 33px;
  }
  @media screen and (max-width: 750px) {
    font-size: 28px;
  }
  @media screen and (max-width: 480px) {
    font-size: 23px;
  }
}

.large-text {
  font-size: 28px;
  @media screen and (max-width: 1200px) {
    font-size: 23px;
  }
  @media screen and (max-width: 750px) {
    font-size: 21px;
  }
  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.big-text {
  font-size: 23px;
  @media screen and (max-width: 1200px) {
    font-size: 21px;
  }
  @media screen and (max-width: 750px) {
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    font-size: 15px;
  }
}

.medium-text {
  font-size: 21px;
  @media screen and (max-width: 1200px) {
    font-size: 18px;
  }
  @media screen and (max-width: 750px) {
    font-size: 15px;
  }
  @media screen and (max-width: 480px) {
    font-size: 13px;
  }
}

.small-text {
  font-size: 18px;
  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }
  @media screen and (max-width: 750px) {
    font-size: 13px;
  }
  @media screen and (max-width: 480px) {
    font-size: 11px;
  }
}
